---
import { BasePopover } from "./react/popover/popover";
---

<section class="w-full bg-neutral-200 h-[400px] flex items-center justify-center px-4 text-center">
  <span> Content </span>
</section>
